{#
Show the children of a node
Parameters:
- folders
#}
{% extends '::base.html.twig' %}
{% trans_default_domain 'treerepo' %}



{% block stylesheets %}
    {% stylesheets 
            'vendor/blueimp/jQuery-File-Upload-9.5.4/css/extra/blueimp-gallery.min.css' 
            filter='cssrewrite,?yui_css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/blueimp/jQuery-File-Upload-9.5.4/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/blueimp/jQuery-File-Upload-9.5.4/css/jquery.fileupload-ui.css') }}">
    <style>
        .folder-selected > .tree-folder-name {
            background-color: #4D6878;
            color: #fff;
            border-radius: 2px;
            padding: 2px;
        }
    </style>
{% endblock %}



{% block breadcrumbs %}
    <li class="active">
        <a href="{{ url('openview_doc_browser_index') }}"><i class="icon-home home-icon"></i> {{ 'breadcrumbs.home' | trans ({}, 'messages') }}</a>
    </li>
    <li class="active">
        {{ 'breadcrumbs.repository' | trans }}
    </li>
{% endblock %}
    
    

{% block content %}
<div class="col-xs-12">
    <!-- Title -->
    <div class="page-header">
        <h1>{{ 'pages.index.title' | trans }}</h1>
    </div>


    
    <div class="row" id="treerepo-browser">
        <!-- Directory tree -->
        <div class="col-xs-4">
            <div class="widget-box">
                <div class="widget-header header-color-dark">
                    <h4 class="lighter smaller">{{ 'pages.index.folderstitle' | trans }}</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main padding-8">
                        <div class="tree" id="tree-folders">
                            <!-- ajax-populated -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Direcectory content -->
        <div class="col-xs-8">
            <div class="widget-box">
                <div class="widget-header header-color-dark">
                    <h4 class="lighter smaller">{{ 'pages.index.filestitle' | trans }} <span id="foldername"></span></h4>
                </div>
                <div class="widget-body">
                    <form id="fileupload" 
                                action="#" 
                                method="POST" 
                                enctype="multipart/form-data" 
                                data-url="{{ asset('vendor/blueimp/jQuery-File-Upload-9.5.4/server/php/index.php') }}">
                    <div class="widget-toolbox">
                        <!-- toolbar -->
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <span class="btn btn-sm btn-primary" id="btn-newfolder">
                                    <i class="icon icon-folder-open"></i>
                                    {{ 'toolbar.createdir' | trans }}
                                </span>
                                <span class="btn btn-sm btn-success fileinput-button" id="btn-addfiles">
                                    <i class="icon icon-plus"></i>
                                    <span>{{ 'pages.uploadfile.form.addfiles' | trans }}</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                            </div>
                            <!-- ricerca -->
                            <div class="btn-group">
                                <div class="input-group">
                                    <input class="form-control search-query" id="txt-filesearch"
                                           placeholder="{{ 'toolbar.filesearch' | trans }}" type="text">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-purple btn-sm" id="btn-filesearch"
                                                disabled="disabled">
                                            <i class="icon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <span class="fileupload-process"></span>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </div>
                    <div class="widget-main padding-8">
                        <!--div id="tree-files"></div-->
                        <table id="filestable"
                               class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th class="sorting_disabled">Nome</th>
                                    <th class="sorting_disabled">Tipo</th>
                                    <th class="center sorting_disabled col-md-2">Azioni</th>
                                </tr>
                            </thead>
                            <tbody id="tree-files">
                            </tbody>
                        </table>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {% include 'OpenviewTreeRepoBundle:Node:galleryJsTemplates.html.twig' %}    
    {% javascripts 
            'vendor/blueimp/jQuery-File-Upload-9.5.4/js/extra/*' 
            'vendor/blueimp/jQuery-File-Upload-9.5.4/js/jquery.iframe-transport.js'
            'vendor/blueimp/jQuery-File-Upload-9.5.4/js/jquery.fileupload.js'
            'vendor/blueimp/jQuery-File-Upload-9.5.4/js/jquery.fileupload-process.js'
            'vendor/blueimp/jQuery-File-Upload-9.5.4/js/jquery.fileupload-image.js'
            'vendor/blueimp/jQuery-File-Upload-9.5.4/js/jquery.fileupload-ui.js'
            'vendor/ace-ui-1.2-bs3/js/jquery.dataTables.min.js'
            'vendor/ace-ui-1.2-bs3/js/jquery.dataTables.bootstrap.js'
            'vendor/ace-ui-1.2-bs3/js/fuelux/fuelux.nicola.tree.js'
            '@OpenviewTreeRepoBundle/Resources/public/js/foldersTree.js'
            '@OpenviewTreeRepoBundle/Resources/public/js/uploadSetup.js'
            '@OpenviewTreeRepoBundle/Resources/public/js/treeSetup.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script type="text/javascript">
        $(document).ready(function(){
            $('#btn-filesearch').attr('disabled', false);
            /* avvia la ricerca di un documento */
            $('#btn-filesearch').click(function(){
                // se ho una stringa
                if ($('#txt-filesearch').val() !== '') {
                    var url = Routing.generate('openview_treerepo_search', {
                        'terms': $('#txt-filesearch').val()
                    });
                    window.location.href = url;
                }
            });
        });
    </script>
{% endblock %}